{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% csrf_token %}
{% for field in form %}
  	{% bootstrap_field field %}
{% endfor %}

<div class="card">
	<div class="card-header text-left" style="margin-bottom:0">
		<h4 class="card-title">
      Cars :
    </h4>
    <h1>
      {{ owner.surname }}, 
      {{ owner.name }}


      {{ owner.id }}, 
      {{ brand.owner_id }}
      {{ brand.brandName }}
    </h1>
	</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th scope="col">Km</th>
      </tr>
    </thead>




    <tbody>
    {% for owner in owner.brand_set.all %}             
      {% for brand in brand.model_set.all %}                                           
        {% for mod in latest_models_list %}           
          {% if owner.id == mod.brand_id %}
            <tr>
              <th scope="row">
                <a href="{% url 'workshop:repair_model' mod.id %}">                  
                  {{ owner.brandName }}    
                </a>  
              </th>
              <td>
                {{ mod.modelName }}
              </td>
              <td>
                {{ mod.year }}
              </td>
              <td>
                {{ mod.km_car }}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      {% endfor %} 
    {% endfor %}            
    </tbody>
  </table>




  <div class="card-body">
    <a href="{% url 'workshop:index' %}">
      <button type="Button" class="btn btn-outline-primary">Owners</button>
    </a>
      <button type="button" class="btn btn-secondary btn-lg" disabled>Cars</button>
    <a href="{% url 'workshop:repairs' owner.id %}">
      <button type="button" class="btn btn-outline-primary">Repairs</button>     
    </a>  
	</div>

</div>