{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% csrf_token %}
{% for field in form %}
  	{% bootstrap_field field %}
{% endfor %}

<div class="card">
	<div class="card-header text-left" style="margin-bottom:0">
		<h4 class="card-title">Cars :</h4>
        <h1>{{ owner.surname }}, {{ owner.name }}</h1>
	</div>
	<div class="card-body">


            {% for owner in owner.brand_set.all %}  
                {{ owner.brandName }},
                {{ owner.id}}, {{ owner.owner_id }}
 
                {% for models in latest_brands_list %}   
                     {% if models.id == brands.id %}                                   
                        {% for mod in latest_models_list %}
                            {% if mod.id == models.id %}                            

                                {{ mod.modelName }}, 
                                {{ mod.year }},
                                {{ mod.km_car }}    
                            {% endif %}
                        {% endfor %}                            
                    {% endif %}
                {% endfor %}

          
                <br>
            {% endfor %} 



        <a href="{% url 'workshop:repairs' owner.id %}">
            <button type="button" class="btn btn-outline-primary">
              
    		{% for brands in owner.brand_set.all %}  
                {{ brands.brandName }},
 
                {% for models in latest_brands_list %}   
                     {% if models.id == brands.id %}                                   
                        {% for mod in latest_models_list %}
                            {% if mod.id == models.id %}                            

                                {{ mod.modelName }}, 
                                {{ mod.year }},
                                {{ mod.km_car }}    
                            {% endif %}
                        {% endfor %}                            
                    {% endif %}
                {% endfor %}

          
                <br>
            {% endfor %} 
    		

            </button>     
        </a>                             
	</div>
	<div class="card-body">

        		<a href="{% url 'workshop:index' %}">
        			<button type="Button" class="btn btn-outline-primary">Owners</button>
        		</a>
                <button type="button" class="btn btn-secondary btn-lg" disabled>Cars</button>
                <a href="{% url 'workshop:repairs' owner.id %}">
                    <button type="button" class="btn btn-outline-primary">Repairs</button>     
                </a>  
	</div>
</div>